<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <div class="container" id="main">
    <%- include("./partials/nav.ejs") %>

    <%- include("about.ejs") %>

    <%- include("data.ejs") %>
      
    <%- include("./partials/footer.ejs") %>
    </div>
  </body>
</html>